h1 {
  background-color: grey; 
  color: white;
  padding: 10px;
  border-radius: 10px;
}


body {
  background-color: black;
  text-align: center; 
  font-family: Verdana, Geneva, sans-serif; 

}

li {
  color: white;
  margin-bottom: 15px;
}

img {
  border-radius: 15px; 
  margin: 10px 0; 
  width: 300px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul {
  background-color: grey; 
  padding: 20px;
  border-radius: 15px;
  display: inline-block; 
}

h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  color: white; 
}

p {
  margin-bottom: 15px;
  color: white
}

h3 {
  color: white
}
